.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.heading {
    color: #254e80;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 60px;
    font-weight: 400;
}